page-onibus-modal {

}

.form-informacoes {

    .form-group {
        align-items: center;

        .item-info {
            flex: 0 0 90%;
        }
        .button-info {
            flex: 0 0 5%;
        }
        .label {
            flex: 0 0 20%;
        }
    }
    
    .form-group-childs {

        
    }
    
}