<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{motorista.nome}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="page-content">

    <section class="page-content__body">

        <ion-card>

            <ion-grid no-padding>

                <ion-row class="row-header row-avatar" color="dark">
                    <ion-item>
                        <ion-avatar *ngIf="motorista.foto === ''" class="thumb-icon" item-left>
                            <ion-icon name="person"></ion-icon>
                        </ion-avatar>
                        <ion-avatar *ngIf="motorista.foto !== ''" class="thumb-foto" item-left color="bg-light" 
                        [ngStyle]="{ 'background-image': 'url(' + motorista.foto_media + ')' }">
                        </ion-avatar>
                    </ion-item>
                    <ion-item class="header-info">
                        <h1 class="nome">{{ motorista.nome }}</h1>
                        <p class="info mb">
                            <span>
                              <ion-icon name="bus"></ion-icon>
                              {{ motorista.tipo | uppercase | removeHifen}}
                            </span>
                        </p>
                        <ng-template [ngIf]="motorista.qtdTurnos === '2'">
                            <p class="info mb">
                                <span>
                                    <ion-icon name="school"></ion-icon>
                                    {{motorista.inst_1 | uppercase | removeHifen}}
                                </span>
                                <span class="pointer">•</span>
                                <span>
                                    <ion-icon name="time"></ion-icon>
                                    {{motorista.turno_1}}
                                </span>
                            </p>
                        </ng-template>
                        <p class="info mb" *ngIf="motorista.turno_2 !== '' && motorista.inst_2 !== ''">
                            <span>
                              <ion-icon name="school"></ion-icon>
                              {{motorista.inst_2 | uppercase | removeHifen}}
                            </span>
                            <span class="pointer">•</span>
                            <span>
                              <ion-icon name="time"></ion-icon>
                              {{motorista.turno_2 }}
                            </span>
                        </p>
                        
                        <div class="status-info">
                            <p *ngIf="motorista.status === 'ativo'" data-status="regular" class="status">
                                <strong>Ativo</strong>
                            </p>
                            <p *ngIf="motorista.status === 'inativo'" data-status="afastado" class="status">
                                <strong *ngIf="motorista.status === 'true'">Ativo</strong>
                            </p>
                        </div>
                    </ion-item>
                </ion-row>

                <ion-row class="row-header row-segment bg-light">
                    <ion-segment [(ngModel)]="segment">
                        <ion-segment-button value="informacoes">
                            <ion-icon name="information-circle"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="documentos" (click)="atualiza_lista_documentos()">
                            <ion-icon name="document"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="advertencias" (click)="atualiza_lista_advertencias()">
                            <ion-icon name="warning"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-row>

                <ion-row class="row-informacoes" *ngIf="segment === 'informacoes'">

                    <ion-item-divider class="divider-header no-mb light">
                        <ion-label>
                            Informações
                        </ion-label>
                        <button ion-button item-right icon-only clear (click)="atualiza_informacoes_motorista( true )"> 
                          <ion-icon name="refresh"></ion-icon>
                        </button>
                        <button ion-button item-right icon-right (click)="modal_editar_motorista(motorista)"> 
                          <ion-icon name="create"></ion-icon>Editar
                        </button>
                    </ion-item-divider>

                    <ion-spinner [hidden]="spinner" name="dots"></ion-spinner>

                    <ion-col class="col-informacoes">
                        <ion-item>
                            <p><span><ion-icon icon-left name="paper"></ion-icon>RG:</span> <strong>{{motorista.rg}}</strong></p>
                        </ion-item>
                        <ion-item>
                            <p><span><ion-icon icon-left name="paper"></ion-icon>CPF:</span> <strong>{{motorista.cpf}}</strong></p>
                        </ion-item>
                        <ion-item>
                            <p><span><ion-icon icon-left name="call"></ion-icon>Contato:</span> <strong>{{motorista.contato_1}}</strong></p>
                        </ion-item>
                        <ion-item *ngIf="motorista.contato_2 !== ''">
                            <p><span><ion-icon icon-left name="call"></ion-icon>Contato 2:</span> <strong>{{motorista.contato_2}}</strong></p>
                        </ion-item>
                        <ion-item>
                            <p><span><ion-icon icon-left name="calendar"></ion-icon>Cadastrado Sistema:</span> <strong>{{ motorista.data_registro_sis | date:'dd/MM/yyyy' }}</strong></p>
                        </ion-item>
                        <ion-item>
                            <p><span><ion-icon icon-left name="calendar"></ion-icon>Cadastrado Associação:</span> <strong>{{ motorista.data_registro_assoc | date:'dd/MM/yyyy' }}</strong></p>
                        </ion-item>

                    </ion-col>
                </ion-row>

                <ion-row class="row-documentos" *ngIf="segment === 'documentos'">

                    <ion-item-divider class="divider-header no-mb light">
                        <ion-label>
                            Documentos
                        </ion-label>
                        <!-- <button ion-button item-right icon-only clear> 
                          <ion-icon name="search"></ion-icon>
                        </button> -->
                        <button ion-button item-right icon-only clear (click)="atualiza_lista_documentos( true )"> 
                          <ion-icon name="refresh"></ion-icon>
                        </button>
                        <button ion-button item-right icon-left (click)="modal_adicionar_documento( motorista.id, motorista.nome )"> 
                          <ion-icon name="add"></ion-icon> <span>Novo Documento</span>
                        </button>
                    </ion-item-divider>

                    <ion-spinner [hidden]="spinner" name="dots"></ion-spinner>

                    <ion-item class="nenhum" *ngIf="documentos.length === 0 && spinner === true">
                        <p>Nenhum documento atribuido a este motorista.</p>
                    </ion-item>

                    <table class="row-body table-list table-list-documentos" *ngIf="documentos.length !== 0">
                        <thead class="row-list__header">
                            <tr>
                                <th>
                                    <strong>Data</strong>
                                </th>
                                <th>
                                    <strong>Imagem</strong>
                                </th>
                                <th>
                                    <strong>Tipo</strong>
                                </th>
                                <th>
                                    <strong>#</strong>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="row-list__body">
                            <tr *ngFor="let documento of documentos">
                                <td class="data">
                                    <span>{{ documento.data | date:'dd/MM/yyyy'}}</span>
                                </td>
                                <td class="thumb">
                                    <ion-thumbnail item-left color="bg-light">
                                        <img src="{{ documento.img_thumb }}" alt="Thumbnail Documento" />
                                    </ion-thumbnail>
                                </td>
                                <td class="tipo">
                                    <span *ngIf="documento.documento_desc === ''">{{ documento.tipo_documento | removeHifen }}</span>
                                    <span *ngIf="documento.documento_desc !== ''">{{documento.documento_desc}}</span>
                                </td>
                                <td class="acao">
                                    <button ion-button icon-only clear (click)="ver_comprovante_documento( documento.img )">
                                      <ion-icon name="image"></ion-icon>
                                    </button>
                                    <button ion-button icon-only clear (click)="modal_editar_documento( documento )">
                                      <ion-icon name="create"></ion-icon>
                                    </button>
                                    <button ion-button icon-only clear color="danger" (click)="deletar_documento( documento.id )">
                                      <ion-icon name="trash"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </ion-row>

                <ion-row class="row-advertencias" *ngIf="segment === 'advertencias'">

                    <ion-item-divider class="divider-header no-mb light">
                        <ion-label>
                            Advertências
                        </ion-label>
                        <!-- <button ion-button item-right icon-only clear> 
                          <ion-icon name="search"></ion-icon>
                        </button> -->
                        <button ion-button item-right icon-only clear (click)="atualiza_lista_advertencias( true )"> 
                          <ion-icon name="refresh"></ion-icon>
                        </button>
                        <button ion-button item-right icon-right (click)="modal_adicionar_advertencia( motorista.id, motorista.nome )"> 
                          <ion-icon name="add"></ion-icon> Adicionar Advertência
                        </button>
                    </ion-item-divider>

                    <ion-spinner [hidden]="spinner" name="dots"></ion-spinner>

                    <ion-item class="nenhum" *ngIf="advertencias.length === 0 && spinner === true">
                        <p>Nenhuma advertência atribuida a este motorista.</p>
                    </ion-item>

                    <table class="table-list table-list-advertencias" *ngIf="advertencias.length !== 0">

                        <thead class="row-list__header">
                            <tr>
                                <th>
                                    <strong>Data</strong>
                                </th>
                                <th>
                                    <strong>Autor</strong>
                                </th>
                                <th>
                                    <strong>Advertência</strong>
                                </th>
                                <th>
                                    <strong>Grau</strong>
                                </th>
                                <th>
                                    <strong>#</strong>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="row-list__body">
                            <tr *ngFor="let advertencia of advertencias">
                                <td class="data">
                                    <span>{{ advertencia.data | date:'dd/MM/yyyy' }}</span>
                                </td>
                                <td class="autor">
                                    <span>{{ advertencia.nome_autor }}</span>
                                </td>
                                <td class="advertencia">
                                    <span>{{ advertencia.advertencia }}</span>
                                </td>
                                <td class="grau">
                                    <span class="{{ advertencia.grau }}">{{ advertencia.grau }}</span>
                                </td>
                                <td class="acao">
                                    <button ion-button icon-only clear (click)="modal_editar_advertencia( advertencia, motorista.id, motorista.nome )">
                                      <ion-icon name="create"></ion-icon>
                                    </button>
                                    <button ion-button icon-only clear color="danger" (click)="deletar_advertencia( advertencia.id )">
                                      <ion-icon name="trash"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </ion-row>

            </ion-grid>

        </ion-card>

    </section>

</ion-content>