<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title_page}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="branco" (click)="modal_dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="form-modal">

  <p *ngIf="requisicao_modal !== 'comprovante_documento'" class="alert-required"><small>Campos com <span class="obrigatorio">*</span> são obrigatórios.</small></p>

  <ion-list  *ngIf="requisicao_modal === 'motorista'" class="form form-motorista form-fixed">

      <ion-item class="form-group">
        <ion-label>Nome: <span class="obrigatorio">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="motorista.nome" placeholder="Informe o Nome" class="nome"></ion-input>
      </ion-item>

      <!-- <ion-item class="form-group">
        <ion-label>Email: </ion-label>
        <ion-input type="text" [(ngModel)]="motorista.email" placeholder="Email ex: exemplo@gmail.com"></ion-input>
      </ion-item> -->

      <ion-item class="form-group">
        <ion-label>CPF: <span class="obrigatorio">*</span></ion-label>
        <ion-input type="tel" [(ngModel)]="motorista.cpf" [textMask]="{mask: cpfMask}" placeholder="Informe o CPF" (ionBlur)="trimLastCharacter()"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>RG: <span class="obrigatorio">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="motorista.rg" placeholder="Informe o RG"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>Contato 1: <span class="obrigatorio">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="motorista.contato_1" [textMask]="{mask: telMask}" placeholder="Informe um Contato" (ionBlur)="trimLastCharacter()"></ion-input>
      </ion-item>

      <ion-item class="form-group"> 
        <ion-label>Contato 2: </ion-label>
        <ion-input type="text" [(ngModel)]="motorista.contato_2" [textMask]="{mask: telMask}" placeholder="Informe outro Contato" (ionBlur)="trimLastCharacter()"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>Status do Motorista: <span class="obrigatorio">*</span></ion-label>
        <ion-select [(ngModel)]="motorista.status" placeholder="Informe o status:">
          <ion-option value="ativo">Ativo</ion-option>
          <ion-option value="inativo">Inativo</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>Tipo do Motorista: <span class="obrigatorio">*</span></ion-label>
        <ion-select [(ngModel)]="motorista.tipo" placeholder="Informe o tipo do motorista:">
          <ion-option value="motorista-aeesp">Motorista da Aeesp</ion-option>
          <ion-option value="motorista-terceirizado">Motorista Terceirizado</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="form-group disabled">
        <ion-label>Data de cadastro no Sistema: ( Automático )</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="motorista.data_registro_sis" disabled="true" placeholder="00/00/000"></ion-datetime>
        <ion-icon name="calendar" item-right></ion-icon>
      </ion-item>

      <ion-item class="form-group">
        <ion-label>Data de cadastro na Associação: <span class="obrigatorio">*</span></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" min="1990" [(ngModel)]="motorista.data_registro_assoc" disabled="{{campo_desabilitado}}" placeholder="00/00/000"></ion-datetime>
        <ion-icon name="calendar" item-right></ion-icon>
      </ion-item>

      <ion-item-group class="form-group">
        <ion-label>
          Quantidade de Turnos do Motorista
        </ion-label>
        
        <div class="form-group-childs form-group-radio" radio-group [(ngModel)]="motorista.qtdTurnos">
          <ion-item>
            <ion-label>1 Turno</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>2 Turnos</ion-label>
            <ion-radio checked="true" value="2"></ion-radio>
          </ion-item>

        </div>
      </ion-item-group>

      <ion-item-group class="form-group primeiro-turno">
        <ion-label>
          Turno e Instituição - 1ª Rota
        </ion-label>
        
        <div class="form-group-childs form-group-select">

          <ion-item>
            <ion-label class="item-hide">Turno 1: </ion-label> 
            <ion-select [(ngModel)]="motorista.turno_1" placeholder="Selecione o turno 1:">
              <ion-option value="matutino">Matutino</ion-option>
              <ion-option value="vespertino">Vespertino</ion-option>
              <ion-option value="noturno">Noturno</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="item-hide">Instituição 1: </ion-label> 
            <ion-select [(ngModel)]="motorista.inst_1" placeholder="Selecione a instituição 1:">
              <ion-option value="fainor">FAINOR</ion-option>
              <ion-option value="ftc">FTC</ion-option>
              <ion-option value="ifba">IFBA</ion-option>
              <ion-option value="mauricio-de-nassau">MAURICIO DE NASSAU</ion-option>
              <ion-option value="santo-agostinho">SANTO AGOSTINHO</ion-option>
              <ion-option value="uesb">UESB</ion-option>
              <ion-option value="ufba">UFBA</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-item-group>

      <ion-item-group class="form-group segundo-turno" *ngIf="motorista.qtdTurnos === '2'">
        <ion-label>
          Turno e Instituição - 2ª Rota
        </ion-label>
        
        <div class="form-group-childs form-group-select">

          <ion-item>
            <ion-label class="item-hide">Turno 2:</ion-label> 
            <ion-select [(ngModel)]="motorista.turno_2" placeholder="Selecione o turno 2:">
              <ion-option *ngIf="motorista.turno_1 !== 'matutino'" value="matutino">Matutino</ion-option>
              <ion-option *ngIf="motorista.turno_1 !== 'vespertino'" value="vespertino">Vespertino</ion-option>
              <ion-option *ngIf="motorista.turno_1 !== 'noturno'" value="noturno">Noturno</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="item-hide">Instituição 2:</ion-label> 
            <ion-select [(ngModel)]="motorista.inst_2" placeholder="Selecione a instituição 2:">
              <ion-option value="fainor">FAINOR</ion-option>
              <ion-option value="ftc">FTC</ion-option>
              <ion-option value="ifba">IFBA</ion-option>
              <ion-option value="mauricio-de-nassau">MAURICIO DE NASSAU</ion-option>
              <ion-option value="santo-agostinho">SANTO AGOSTINHO</ion-option>
              <ion-option value="uesb">UESB</ion-option>
              <ion-option value="ufba">UFBA</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-item-group>

      <ion-item-group class="form-group">
        <ion-label>
          Adicionar um foto
        </ion-label>
        
        <div class="form-group-childs form-group-files" *ngIf="requisicao === 'adicionar'">

          <div class="form-group-file">
            <input type="file" id="foto-motorista" class="imagem" accept=".png,.jpg" (change)="console_imagem( 'foto-motorista' )" accept="image/*" />
            <label ion-button icon-left for="foto-motorista">
              <ion-icon name="image" item-left></ion-icon> Escolha uma imagem
            </label>
          </div>

        </div>
      </ion-item-group>

      <div *ngIf="requisicao === 'editar'">
        <p class="text-muted">Marque a caixa caso deseje alterar a foto deste motorista</p>
        <ion-item-group class="form-group">
            <ion-label>Alterar foto?</ion-label>
            <div class="form-group-childs">
                <ion-item>
                    <ion-checkbox [(ngModel)]="alterarFoto"></ion-checkbox>
                </ion-item>
            </div>
        </ion-item-group>
        <ion-item-group class="form-group" *ngIf="alterarFoto">
            <ion-label>
                Adicionar uma nova foto
            </ion-label>
            <div class="form-group-childs form-group-files">
              <div class="form-group-file">
                <input type="file" id="foto-motorista" class="imagem" accept=".png,.jpg" (change)="console_imagem( 'foto-motorista' )" accept="image/*" />
                <label ion-button icon-left for="foto-motorista">
                  <ion-icon name="image" item-left></ion-icon> Escolha uma imagem
                </label>
              </div>
            </div>
        </ion-item-group>
      </div>

      <div class="button-fixed">
        <button ion-button round icon-left class="btn btn-block" (click)="salvar(motorista)"><ion-icon name="checkmark-circle-outline"></ion-icon> Salvar</button>
      </div>


    </ion-list>

    <!-- Formulario de Documentos -->
    <ion-list *ngIf="requisicao_modal === 'documento'" class="form form-documento">

      <ion-item class="form-group">
          <ion-label>Tipo do Documento: <span class="obrigatorio">*</span></ion-label>
          <ion-select [(ngModel)]="documento.tipo_documento">
              <ion-option value="rg">RG</ion-option>
              <ion-option value="cpf">CPF</ion-option>
              <ion-option value="comprovante-matricula">Comprovante de Matricula</ion-option>
              <ion-option value="comprovante-residencia">Comprovante de Residencia</ion-option>
              <ion-option value="carteira-motorista">Carteira de Motorista</ion-option>
              <ion-option value="outro">Outro</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="form-group textarea-70" *ngIf="documento.tipo_documento === 'outro'">
          <ion-label>Descrição do Documento:</ion-label>
          <ion-textarea [(ngModel)]="documento.documento_desc"></ion-textarea>
      </ion-item>

      <ion-item-group class="form-group" *ngIf="requisicao === 'adicionar'">
        <ion-label>
          Imagem do Documento <span class="obrigatorio">*</span>
        </ion-label>
        
        <div class="form-group-childs form-group-files">

          <div class="form-group-file">
            <input type="file" id="comprovante-documento" class="imagem" accept=".png,.jpg" (change)="console_imagem( 'comprovante-documento' )" accept="image/*" />
            <label ion-button icon-left for="comprovante-documento">
              <ion-icon name="image" item-left></ion-icon> Escolha uma imagem
            </label>
          </div>

        </div>
      </ion-item-group>

      <div *ngIf="requisicao === 'editar'">
        <p class="text-muted">Marque a caixa caso deseje alterar a imagem deste documento</p>
        <ion-item-group class="form-group">
            <ion-label>Alterar imagem do documento?</ion-label>
            <div class="form-group-childs">
                <ion-item>
                    <ion-checkbox [(ngModel)]="alterarImagem"></ion-checkbox>
                </ion-item>
            </div>
        </ion-item-group>
        <ion-item-group class="form-group" *ngIf="alterarImagem">
            <ion-label>
                Adicionar uma nova foto
            </ion-label>
            <div class="form-group-childs form-group-files">
                <div class="form-group-file">
                  <input type="file" id="comprovante-documento" class="imagem" accept=".png,.jpg" (change)="console_imagem( 'comprovante-documento' )" accept="image/*" />
                  <label ion-button icon-left for="comprovante-documento">
                    <ion-icon name="image" item-left></ion-icon> Escolha uma imagem
                  </label>
                </div>
            </div>
        </ion-item-group>
      </div>

      <button ion-button round icon-left class="btn btn-block" (click)="salvar(documento)">
          <ion-icon name="checkmark-circle-outline"></ion-icon> Salvar
      </button>

    </ion-list>

    <!-- Comprovante de Documento -->
    <section *ngIf="requisicao_modal === 'comprovante_documento'" class="modal-comprovante">
        <div class="comprovante-documento__container">
            <img src="{{url_imagem}}" alt="Comprovante de Documento" />
        </div>
    </section>

    <!-- ADvertencia -->
    <section *ngIf="requisicao_modal === 'advertencia'" class="form form-advertencia">

        <ion-item class="form-group textarea-70">
            <ion-label>Descrição da Advertência:</ion-label>
            <ion-textarea [(ngModel)]="advertencia.advertencia" placeholder="Descreeva sobre a advertência..." autofocus></ion-textarea>
        </ion-item>

        <ion-item-group class="form-group form-group-select">
            <ion-item>
                <ion-label>Grau da Advertência:</ion-label>
                <ion-select [(ngModel)]="advertencia.grau">
                    <ion-option value="alto">Alto</ion-option>
                    <ion-option value="medio">Medio</ion-option>
                    <ion-option value="baixo">Baixo</ion-option>
                </ion-select>
            </ion-item>
            <span class="prioridade {{advertencia.grau}}"></span>
        </ion-item-group>

        <button ion-button round icon-left class="btn btn-block" (click)="salvar(advertencia)">
            <ion-icon name="checkmark-circle-outline"></ion-icon> Salvar
        </button>
    </section>

</ion-content>
